[2011-02-07 19:58] creatoro opened #1 "Userguide is not working under 3.1"

[2011-02-07 20:04] creatoro commented on #1
Fixed by: fe89fca4c9c61a6b6f6eee18bc9045aae948512a

[2011-02-07 20:04] #1 closed, assigned to creatoro

[2011-02-08 13:04] creatoro opened #2 "Uncompatible with KO 3.1 validation"

[2011-02-08 13:09] creatoro opened #3 "Deleting all the relationships is impossible"
It's not possible to delete all relationships, because when Jelly tries to find out what has to be changed the current relationships and the changed relationships are the same, so `array_diff` will return empty here:

[code]

[2011-02-09 15:12] creatoro opened #4 "Deleting will return NULL instead of TRUE or FALSE when no events were run"
In `Jelly_Core_Builder` the following lines change the result of a delete to NULL if no events were run:

[code]

This will results in a failed model test: `test_save_empty_model`

[2011-02-09 15:49] creatoro opened #5 "Can't add HasOne relationship"
When trying to add a HasOne relationship like this:

[code]

It will fail, because `Jelly_Core_Field_HasOne` is not savable and looks for an array when setting the relationship:

[code]

[2011-02-09 16:06] creatoro commented on #4
Closed by e42be35870753597fc4fa302c037ef2f5e90a839.

[2011-02-09 16:06] #4 closed, assigned to creatoro

[2011-02-09 16:06] creatoro commented on #5
Closed by 46001d46351ad72821c59ce6f941456cde119c4e.

[2011-02-09 16:06] #5 closed, assigned to creatoro

[2011-02-09 16:08] creatoro commented on #2
First step top fix: 5498c2199c15d326f4661bea976fa9f4025148e5

[2011-02-09 19:30] creatoro commented on #3
Closed by ea671704687b2b0e8a4c079ff54714d08e2aeb99.

[2011-02-09 19:30] #3 closed, assigned to creatoro

[2011-02-10 13:50] creatoro commented on #2
Second step to fix: 89d03225b93a24ae3218dbee1915e6425e5646f1

[2011-02-10 13:51] creatoro commented on #2
Third step to fix: de8e6fe731aa25039620a84b36e7d8dbeecb6c38

This step makes validation usuable, the upcoming changes are 'cosmetic' only.

[2011-02-10 13:52] creatoro opened #6 "Update docs"
Update docs to reflect the changes.

[2011-02-10 13:53] creatoro opened #7 "Add Jelly driver for Kohana Auth"
Copy and modify the ORM driver for Auth.

[2011-02-10 13:54] creatoro commented on #7
Done in 9da897fc5d68f8f6dd8981245ebe4a25df82bccc.

[2011-02-10 13:54] #7 closed, assigned to creatoro

[2011-02-11 12:48] creatoro commented on #2
Fourth step to fix: e2358885ca3e6449ba6f9845d14736f614bfa733

In this step callbacks were removed and some minor changes were done.
I plan to greatly simplify validation in the next step and use a lot of ideas from Kohana ORM.

[2011-02-15 13:36] creatoro commented on #2
Closed by c43c1994231c25def792de34a6512adf886d276b.

[2011-02-15 13:36] #2 closed, assigned to creatoro

[2011-02-20 15:51] creatoro opened #8 "Problem with the `_is_unique` rule"
Jelly has a callback that checks the field value if it's unique. This check only runs when the field value is not `NULL` which respects the SQL standards. But if the field is not allowed to have `NULL` and the default value is an empty string (for example `Jelly_Field_String`) then this check will fail if there's more than one empty value in the database.

[2011-02-20 15:56] creatoro commented on #8
Closed by 7b1ffd1c1c20b9a911ec26fb2496c895c70b8f8f.

[2011-02-20 23:56] #8 closed, assigned to creatoro

[2011-02-23 12:52] creatoro opened #9 "External validation is skipped if no data has changed"
External validation will not run if no data is changed, which can be a problem when for example we have a model that has a field which is empty, but we want to update this field and set it as required.

In this case we could use external validation to check if the field is not empty, but this check will be skipped as the original value is empty and the new value is empty as well, so this results i

[2011-02-23 12:53] creatoro commented on #9
Closed by 5ccc5503ec81df04e5c0adef51984930e33d3ef5.

[2011-02-23 12:53] #9 closed, assigned to creatoro

[2011-02-27 19:45] TdroL opened #10 "Database group name"
In some cases there won't be group 'default' in config file (eg. there will be insdtead 'production', 'development', etc.) -- Jelly should get group name from Database::$default (I assume that this variable have correct name).

Jelly_Core_Meta needs changes:
    protected $_db = NULL;
        (...)
    public function db($value = NULL)
    {
        if (func_num_args() !== 0)
        {

[2011-02-27 23:36] creatoro commented on #10
Thanks for this. The builder has hard-coded db name as well.

[2011-02-27 23:36] creatoro commented on #10
Closed by 963c997b4bf76af7280f2f89265ca571dfefd100, thanks TdroL.

[2011-02-27 23:36] #10 closed, assigned to creatoro

[2011-02-28 13:39] creatoro opened #11 "Upload not working with the new validation system"
Upload is not working anymore because Validation will not modify the values anymore, so the database receives the content of the `$_FILES` array instead of the uploaded filename.

[2011-02-28 13:41] creatoro opened #12 "Wrong directory separator when uploading under Windows"
See [here](https://github.com/jonathangeiger/kohana-jelly/issues#issue/134).

[2011-02-28 13:46] creatoro commented on #11
Closed by b4b209278279d75f824450fb8eb3eb1c43d30955.

[2011-02-28 13:46] #11 closed, assigned to creatoro

[2011-03-01 10:19] creatoro commented on #12
The proposed solution by tsh854 seems to work under any environment.

[2011-03-01 11:06] creatoro commented on #12
Closed by 1e18775a3414d35610972060bddebf9872ed2e54.

[2011-03-01 11:06] #12 closed, assigned to creatoro

[2011-03-01 21:36] creatoro opened #13 "File field should return original value instead of returning an empty value on update."
This is because of the update that made file validation compatible with the new validation system.

[2011-03-01 21:37] creatoro commented on #13
Closed by 324a5243c6f47faf809a14738cef8cc3a92acfef.

[2011-03-01 21:37] #13 closed, assigned to creatoro

[2011-03-07 12:22] creatoro opened #14 "Validation might use previously saved data in rare cases"
This bug comes from the old-style validation system which doesn't build a new validation object on every check (however it may only be a bug in the new validation system). In result if you want to save two models after each other the validation might use the data that was saved previously.

[2011-03-07 12:23] creatoro commented on #14
Closed by d6a55b561031230589c3df8306e7b212f0ec6069.

[2011-03-07 12:23] #14 closed, assigned to creatoro

[2011-03-22 09:31] Lokaltog opened #15 "Update class structure"
I was thinking about making Jelly more Kodoc-friendly by updating comment headers and restructuring the project class structure to be more like the Kohana project and other modules. I.e. renaming all `Jelly_Core_*` classes to `Kohana_Jelly_*` and separating classes with `@category` tags. I recently did this to another project I'm working on, and I really think the folder structure is more logical

[2011-03-22 12:59] leth commented on #15
I'm not sure if it's a good idea to be putting everything under `Kohana_` as this isn't an official module.

Generally it's bad practice to coin identifiers in someone else's namespace (or in one you don't control).

I'd advise getting one of the core Kohana devs to weigh in here.

[2011-03-22 20:18] creatoro commented on #15
I'm with leth on this one. Even Kohana devs, like Shadowhand tend to use `Modulename_Core` in their modules. It would be nice to have conventions for creating modules.

I will start a discusson about this in the forum.

[2011-03-24 23:06] coreyworrell opened #16 "$_with not behaving expectedly"
When setting `protected $_with = array('role')`, I would expect it to perform a join, but instead it just selects `model.role_id AS model.role`.

Ideally, I think doing this:
    $user = Jelly::query('user', 1)->select();
Should always add that join when `$_with` is set, so essentially doing this behind the scenes:
    $user = Jelly::query('user', 1)->with('role')->select();

[2011-03-29 12:34] creatoro commented on #16
Use `$meta->load_with('role');` when defining your models. I've updated the guide with an example for this, check out the `Defining models` part.

[2011-03-29 12:34] #16 closed, assigned to creatoro

[2011-03-29 16:05] coreyworrell commented on #16
Aaaah okay. Great, thanks!

[2011-03-29 20:41] creatoro opened #17 "Wrong boolean format after setting"
See issue [here](https://github.com/kohana-world/kohana-jelly/issues/2).
Credit goes to [biakaveron](https://github.com/biakaveron).

[2011-03-29 23:35] creatoro opened #18 "Enhance image upload"
At the moment it's not possbile to refactor the original image, only the thumbnails and there's no way to set the quality of the saved images.

[2011-03-29 23:37] creatoro commented on #17
Closed by 99d04d8773cc62c1e54e4ed6c442176854fa4f79.

[2011-03-29 23:37] creatoro commented on #18
Closed by 636f85528d0f9afc59ae7f99b167fa2e4b5a88c7.

[2011-03-29 23:37] #18 closed, assigned to creatoro

[2011-04-01 09:27] dexcell opened #19 "Can i use jelly on live production"
Hi, just wanted to know if it's (pretty)stable to use this on my new live project?

Thank you

[2011-04-01 20:23] creatoro commented on #19
I'm using it on a live project without serious problems, most of the important bugs are fixed now. I have a few pending fixes for smaller bugs, but those are not really critical.

I'm not going to take any responsibility, but if you do enough testing you should be fine :).

[2011-04-01 20:23] #19 closed, assigned to creatoro

[2011-04-02 02:58] dexcell commented on #19
Thank you, creatoro :)

I was waiting for jelly stable release and want to use it for next project but unfortunately jonathan resigned, so i am very glad that you maintaining this library.
I hope you can push this great library to stable release, so everyone can start use it on live project without hesitation :)

[2011-04-03 11:33] misterx opened #20 "Multiple BelongsTo joins doesn't work"
When relation name difference of table name, we have error in Jelly::alias();. Example:
I used your models from jelly-test, and change relation "role", to "action" in User model.

[code]

Then:

[code]

But this:

[code]

When i try fix this problem, I came to that, architecture must be changed, cose Field_BelongsTo->with .. don't know about previous relations, and can't build valid aliases for th

[2011-04-05 08:30] creatoro opened #21 "Configurable separator for Jelly_Field_Slug"
Simple feature, but missing atm.

[2011-04-05 08:32] creatoro commented on #21
Closed by 0c6898d05f62a4f49b072c0e6ff501175f2da73c.

[2011-04-05 08:32] #21 closed, assigned to creatoro

[2011-04-05 14:37] creatoro opened #22 "Further flexibility for Jelly_Field_Slug"
Kohana's `URL::title` does a really good job in creating slugs, so it would be easy to use it, but I was thinking about having the ability of creating slugs that have folder like 'hierarchy' in them.

For example:
`fist-part/second-part`

Where the separator is `-` and the hierarchy separator is `/`.

The features needed:
- allow folder-like hierarchy in slugs
- configurable hierarchy-separator
-

[2011-04-05 14:40] creatoro commented on #22
Closed by 521c16a676409f9b7dc0b6fcf01bd7401406fd26.

[2011-04-05 14:40] #22 closed, assigned to creatoro

[2011-04-06 22:43] creatoro commented on #20
You are using old syntax that is not supported now, please check out the latest version of [Jelly](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1) and [Jelly tests](https://github.com/creatoro/jelly-tests-for-Kohana-3.1) and report back.

[2011-04-07 07:56] misterx commented on #20
My fail, i copied old ticket from jonathangeiger repo, but i try this in new version.
    jelly::query('material')->with('author:user')->limit(1)->select();
and have same problem.
Schema:

Model "material": table - "news_materials", relation "author" - belongsto model "material_author"

Model "material_author": table - "news_authors", relation "user" - belongsto model "core_user"

model "core_user

[2011-04-07 08:10] misterx commented on #20
In your test you can try this:
    jelly::query('test_post')->with('approved_by:role')->limit(1)->select();
But need next changes:
In model 'author', add relation:
    'role' => Jelly::field('belongsto', array(
                'foreign' => 'test_role.id',
                'column'  => 'trole_id',
            )),
When relation name, don't equal model name

[2011-04-08 06:56] creatoro commented on #20
Thanks, I will look into it. Until then if somebody else has a fix it's welcome.

[2011-04-08 14:48] dexcell opened #23 "add load function to jelly builder"
select() function always return Jelly_Collection
load() function always return Jelly_Model

I think it's better leave to developer to decide which return type he would like to use, instead using automated result type based on limit(1).

syntax example

[code]

This is useful when limit variable is based on user input.
For example

[code]

The code above wouldn't have problem even limit is 1, but i

[2011-04-08 14:54] leth commented on #23
I see the point you're making there, iirc it used to be in jelly but got removed.
It might be worth seeing if anyone can remember why, I know Jon is busy with other things, but @banks might remember.

[2011-04-08 15:38] dexcell commented on #23
Yes, there is explanation in the migration guide.
But syntax above  is little different from previous one. I don't mind if there is no load() function since current() function will return same result.
But developer should have freedom and control which result he want to get. (kohana way)

To fix this we just need to delete this code below from jelly builder select method

[code]

if we want to add

[2011-04-08 15:45] creatoro commented on #23
I see why would you need `Jelly_Collection` in this example, but can you guys tell me a situation when you would always need to return `Jelly_Model`?

[2011-04-08 15:51] dexcell commented on #23
For example filtering unique field such as username

[code]

[2011-04-08 15:52] creatoro opened #24 "Add optional prefix for thumbnails in Jelly_Field_Image"
Right now the image field will force you to save your thumbs in a different directory with the same name.

Features needed:
- optional prefix for thumbs
- path should be optional for thumbs as well if prefix is set (if no path is set the path for the original will be used)

[2011-04-08 15:52] dexcell commented on #23
or
    Jelly::query('user')->where('username', '=', 'creatoro')
        ->limit(1)
        ->load();

[2011-04-08 16:06] creatoro commented on #23
What do you think about this:

[code]

If you want to force returning a `Jelly_Model` you can always do that by setting `limit(1)` and leaving the automated switch set to `TRUE`.

This way we don't need a new method.

[2011-04-08 16:12] leth commented on #23
Or if you're selecting by primary key and expect only one result.

[2011-04-08 16:28] leth commented on #23
That doesn't seem as elegant to me.
I prefer the original proposal, it'd make for cleaner code.

[2011-04-08 16:31] dexcell commented on #23
@creatoro
That's nice but it would be producing ugly code (like sprig) for example
    $user = Jelly::query('user')->where('username', '=', 'creatoro')->select(NULL, FALSE):

so the previous solution is the best although we need to ctrl-replace limit(1)->select() in jelly auth.

@leth
Yes, that's also one of the case.

[2011-04-08 17:53] dexcell opened #25 "manytomany field, has function doesn't return correct value with blank jelly model"
Here is the example code,
user has many groups, and groups has many users

[code]

Fix : on Jelly_Core_Field_ManyToMany has function

replace

[code]

with

[code]

or
    (bool) array_intersect($ids, $in);

[2011-04-09 08:25] banks commented on #23
Hi guys, I can't remember the original rationale for the magic behaviour - I think it was assumed that there would not be a case where you would intentionally limit to 1 and expect multiple results but frankly looking over this I agree that it is unnecessary magic more likely to confuse and limit than save much time.

For what it's worth given that I don't really have a professional interest in Je

[2011-04-09 15:12] dexcell commented on #23
@banks
I agree with you, the limit magic return should be deleted. Yeah probably it's best not to include load() function so we can keep the api method close to sql.

select_first() seems not good. i think we should use force developer to use select()->current() if he want to select the first select result. That way it's still very clean code and readable.

What do you think creatoro?

[2011-04-09 18:16] dexcell opened #26 "Is it possible to get hasmany->hasmany with jelly?"
For example
user has many posts, post has many comments

Is it possible with jelly to do thing like this?

[code]

[2011-04-09 19:01] dexcell opened #27 "Auth get_user problem"
for example user has many posts

[code]

[2011-04-10 04:10] dexcell commented on #27
The problem because get_user using user model saved in session.

After once more reading the guide looks like

[code]

kind of syntax should have select(); before it to make it sure it always get the latest record.

so

[code]

[2011-04-10 04:46] #27 closed, assigned to creatoro

[2011-04-10 05:30] dexcell commented on #23
Just dig into another problem..
The belongs to field relies on the limit(1) magic function result..
So if we delete it, syntax below won't work

[code]

because $post->user will return Jelly Collection instead of Jelly Model

[code]

I think It would need to change the structure to fix this....

[2011-04-10 11:43] #25 closed, assigned to creatoro

[2011-04-10 11:52] creatoro commented on #27
The user in the session has to be refreshed to display current results (you can do that by using the `force_login()` method for example). This is how it works in the offical Auth ORM driver, so I'll keep it this way for now.

[2011-04-10 12:19] dexcell commented on #27
I see, thanks

[2011-04-10 12:21] dexcell commented on #25
Nice fix

[2011-04-10 13:51] creatoro commented on #17
The previous fix caused more trouble than good, so it was reverted until a proper solution is found.

[2011-04-10 14:42] #24 closed, assigned to creatoro

[2011-04-10 14:46] creatoro commented on #24
9b7939a8c487e09e934281cee64de5808d24b918 Fixes #24.

[2011-04-10 17:15] creatoro commented on #20
A really dirty fix just to see where's the problem and how would it work.
Any suggestion is welcome on how to do this properly.

Change [line 703](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/blob/3.1%2Fdevelop/classes/jelly/core/builder.php#L703) to this:
`$origin = $parent = $this->_meta->model();`

Add this before [line 743](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/blo

[2011-04-10 20:35] creatoro opened #28 "Wrong Jelly::behavior() default values"
See issue [here](https://github.com/jonathangeiger/kohana-jelly/issues/175).
Credit goes to [biakaveron](https://github.com/biakaveron).

[2011-04-10 20:37] #28 closed, assigned to creatoro

[2011-04-11 05:43] creatoro commented on #23
Nice to see @banks here :).
It seems that going the `select()->current()` way would be the cleanest solution, but as @dexcell pointed out this change would require other changes as well, not to mention everybody needs to change their code to have it behave as it should.

Let's give this a bit more thought...

[2011-04-11 07:48] misterx commented on #20
This must work as method `with`, in ko3 [ORM::with](https://github.com/kohana/orm/blob/3.1%2Fmaster/classes/kohana/orm.php#L829). In Jelly i see problem with aliases, cose join alias for last relation `role`, must be ':test_role:approved_by:role', but method `with` in `belongsto_field`, don't know about a previous chain of aliases.
P.S. This dirty fix, don't work for me =(

[2011-04-11 08:11] creatoro commented on #20
@misterx: what error did you get with the dirty fix applied?

[2011-04-11 08:27] misterx commented on #20
`ErrorException [ Notice ]: Trying to get property of non-object
MODPATH\jelly\classes\jelly\core\builder.php [ 853 ]`

[2011-04-11 08:28] misterx commented on #20
sorry for close =)

[2011-04-11 08:39] misterx commented on #20
sorry, after fix line #  858
     $model = Jelly::meta($parent)->field($field)->foreign['model'];

[2011-04-12 08:38] leth commented on #23
I'm in favour of `load()` over `select()->current()`.

The difference between the two would be that `load()` could enforce the `LIMIT 1`, whereas `select()->current()` would not.
In most cases, the SQL server would have to do a lot more work if you have a large DB table and missed off a `LIMIT 1`.

[2011-04-12 08:40] leth commented on #23
By 'in most cases' I mean when your where conditions do not select among unique fields or composite fields in a way where the SQL server can optimise the query to assume there will only be one result.

[2011-04-12 10:43] creatoro commented on #23
I think adding a new method will be the way to go. I would prefer not to mess with changing a whole lot of code because of modifying `select()` to always return the same object.

I think it would be better to call the new method `select_all()` instead of `load()` or something else.

To summarize it:
- `select_all()` would always return `Jelly_Collection`
- `select()` would keep the automated behav

[2011-04-12 11:04] leth commented on #23
I think `select_all()` is a good choice, better than `load()`, it makes it clear that things are plural and the name is still close to SQL.

[2011-04-13 11:31] loonies opened #29 "Wrong class extensions"
It's impossibile to use benefits of Kohana's CFS without completly overloading classes.

The whole module should be reviewed for this issues.

file:
**classes/jelly/core/builder.php**

replace:
`abstract class Jelly_Core_Builder extends Kohana_Database_Query_Builder_Select`

with:
`abstract class Jelly_Core_Builder extends Database_Query_Builder_Select`

file:
**classes/jelly/core/field/image.php*

[2011-04-13 11:51] creatoro commented on #29
@loonies: use the default 3.1/develop branch, `Jelly_Core_Field_Image` is already fixed in that branch. I'll fix the other, thanks for reporting.

edit: I took a quick look at all the extensions and haven't found other issues like this.

[2011-04-13 12:03] loonies opened #30 "Rewrite the Field_Image class"
The current implementation of the Field_Image class is bloated and should be rewrited.

You can find my proposal in the [3.1/develop-creatoro-unstable](https://github.com/loonies/kohana-jelly/blob/3.1%2Fdevelop-creatoro-unstable/classes/jelly/core/field/image.php) branch (relevant commit loonies/kohana-jelly@440ed18a9e94f659083616b2f80ef001a8809afb), just to get an idea.

Note: I did this before #

[2011-04-13 12:06] #29 closed, assigned to creatoro

[2011-04-13 12:11] loonies commented on #29
Ah.. thx I didn't notice that, it's an old project, so I can't update easily  :)

[2011-04-13 12:15] creatoro commented on #29
Actual fix: bc9f258a41dbbf9b63b86c2039eac58a4d6557e8.
The previous one accidentally had some experimental code in it...

[2011-04-13 13:50] paulchubatyy commented on #26
AFAIK this is not supported out-of-the-box but may be easily implemented with `Jelly_Builder`. See [the gist](https://gist.github.com/917533) for implementation. Then you may retrieve the comments like this:

  Jelly::select('comments')->get_user_posts_comments($author);

Also you may define the customer method in our `Model_Author`:

[code]

So I do not think it should be bundled in jelly itself.

[2011-04-13 15:31] loonies opened #31 "Field_File::_upload should always return boolean"
The current implementation of `Field_File::_upload` is inconsistent. Namely, `Field_File::_upload` will sometimes return the Validation object and sometimes boolean. Classes that use this method (e.g. Field_Image) can't rely on this  implementation (see [Field_Image@L126](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/blob/3.1%2Fdevelop/classes/jelly/core/field/image.php#L126)).

Fix here

[2011-04-13 17:16] graphis commented on #26
I tried out the jelly builder method, but does not work for me.
The last time I managed to work with the jelly builder was with the orgiginal jelly branch

Kohana_Exception [ 0 ]: Invalid method do_something_method called on class Jelly_Builder

[2011-04-13 17:32] #31 closed, assigned to creatoro

[2011-04-13 17:32] creatoro commented on #31
Thanks.

[2011-04-13 18:12] creatoro commented on #30
Thanks!
Looks nice, but I wouldn't continue [using the tranformed image](https://github.com/loonies/kohana-jelly/blob/3.1%2Fdevelop-creatoro-unstable/classes/jelly/core/field/image.php#L146) to create thumbnails. Using the original would give the user more freedom.

Also: there's an optional validation [check for dimensions](https://github.com/loonies/kohana-jelly/blob/3.1%2Fdevelop-creatoro-unsta

[2011-04-13 18:30] creatoro commented on #26
@graphis: I don't think your issue is related. Please post your code to [this forum topic](http://forum.kohanaframework.org/discussion/8069/jelly-for-kohana-3.1-auth-driver-included) for help.

[2011-04-13 22:16] loonies commented on #30
1. Yeah... I think you're right, my first thought was to reduce memory consuption by using "smaller" image for creating the thumbnails, but now I realize that user could apply some complex transformation to the main image and make it unusable for creating the thumbnails.
2. Dimension check is there to prevent PHP runing out of memory when processing the image with big resolution. When that happens

[2011-04-15 07:04] creatoro commented on #23
As there were no other suggestions I'm going to implement the `select_all()` method soon.

[2011-04-15 07:06] creatoro commented on #26
It might be a better idea to add a small tutorial in the guide on how to do this manually then having this in the core. What do you guys think?

[2011-04-15 07:08] creatoro commented on #30
I'm nearly finished modding your version, I'll implement a validation check just like the one you mentioned.

[2011-04-15 07:35] creatoro commented on #15
I'm closing this issue until the Kohana devs have something to say regarding [this topic](http://dev.kohanaframework.org/issues/3922).

[2011-04-15 07:35] #15 closed, assigned to creatoro

[2011-04-16 03:10] dexcell commented on #23
How about this:

select() always return Jelly_Model
select_all() always return Jelly_Collection

But probably another bug will appear, if we changed like syntax like above. i haven't test it yet.

Anyway for the long term i think we shouldn't have function that magically change the result type based on limit(1)
I don't know if we have to change the structure to achieve this.

[2011-04-16 04:40] dexcell commented on #26
@xobb
Yes it's possible with extra method, but it would be nice to have them build in the core.

imagine you can get thing like this out of the box:
$user->posts->categories->posts->comments;

[2011-04-16 07:37] creatoro commented on #23
@dexcell: it might be a good idea to remove the magic method, but this way we won't have to do structural changes at the moment. Let's take one step at a time and later we can review this subject.

[2011-04-16 19:16] dexcell commented on #23
@creatoro
Yes, i think it's the best option for now.

[2011-04-17 12:32] paulchubatyy commented on #26
@dexcell
Yeah, that would be very-very-very-super-kool. But most of the projects don't need this functionality. So, I'm all for adding the proper docs.

[2011-04-17 16:01] creatoro commented on #30
@loonies: checking the width and height of the temporary uploaded image doesn't seem to be possible, so the dimension check needs to be run after the upload of the original is completed. I would rather leave this feature out... Any ideas?

[2011-04-17 20:11] loonies commented on #30
Maybe we should leave this feature out for now. (I'll look at this when I catch some time :))

[2011-04-27 07:09] vinks opened #32 "as_array()"
Returning results as an array in method from documentation

$data = $posts->as_array(array('id', 'name', 'body'));

doesn't work

[2011-04-27 15:36] dexcell commented on #32
should be $posts->as_array('id', 'name');

[2011-05-04 22:49] creatoro opened #33 "Database not selected properly when auto-loading relations"
As described in title.

[2011-05-04 22:52] #33 closed, assigned to creatoro

[2011-05-05 23:41] marcalj opened #34 "Image set without upload"
Hi, I want to upload a photo (ultra big photo) but save in the database with Jelly with a CRON.

When I set the image as string of their path it never validates.

For example: "/home/ddd/image.jpg" or "image.jpg".

If I create a fake $_FILES object, the function "is_uploaded_file" doesn't pass.

There's a way to accomplish that?

Thanks.

[2011-05-08 21:34] creatoro commented on #32
Thanks @dexcell.

[2011-05-08 21:34] #32 closed, assigned to nobody

[2011-05-09 12:08] #30 closed, assigned to creatoro

[2011-05-09 12:42] #23 closed, assigned to creatoro

[2011-05-09 13:56] creatoro commented on #6
I've updated the docs here and there, and made some structural changes which will make it easier to update and read them.

[2011-05-10 07:54] creatoro commented on #33
Reverted in 4783e4867d94d8a28668c25f37ab6ef2d6b089b1 as it seems this wasn't an acutal bug, rather a user error...

[2011-05-10 08:02] creatoro opened #36 "Move model related code to models in Auth driver."
Right now the Auth driver is an exact copy of ORM's Auth driver and there's some model related code in the controller. This should go into the models as it belongs there and it prevents the user to take advantage of some Jelly features, like setting a database to use.

[2011-05-10 08:07] #36 closed, assigned to creatoro

[2011-05-10 08:22] creatoro commented on #34
You don't have to create a fake $_FILES array, just set the image to the name of the file and save it without validation:

[code]

Next time please post your question to the [forum](http://forum.kohanaframework.org/discussion/8069/jelly-for-kohana-3.1-auth-driver-included).

[2011-05-10 08:38] marcalj commented on #34
Sorry, I thought it might be a bug.
Thanks for the reply.

[2011-05-10 08:38] #34 closed, assigned to creatoro

[2011-05-10 08:41] creatoro commented on #34
I see, no problem though :).

[2011-05-10 08:46] creatoro opened #37 "Jelly_Field_Enum selects the wrong value as default if no default is set"
If no default value is set the first value of the choices array will be the default. The only problem that the field selects the value, rather then the key of the element.

[2011-05-10 09:08] #37 closed, assigned to creatoro

[2011-05-10 10:11] creatoro commented on #37
Some more work was needed, because Jelly doesn't expect associative arrays with different keys and values. But having something like `'blue' => 'Blue sky'` can be very useful when creating select lists as metadata can be used for choices.

All should be fixed now in 344ed0b1b217930c1fa27e773875cebf438e47fe.

[2011-05-10 10:45] creatoro opened #38 "Update is_unique rule to use new validation aliases."
The `is_unique` rules is still using some old aliases for validation.

[2011-05-10 10:48] #38 closed, assigned to creatoro

[2011-05-10 12:31] creatoro opened #39 "By default skip upload validation if nothing is uploaded"
Upload validation should be skipped if nothing is uploaded as all fields are optional until they are not explicitly defined to be required.

[2011-05-10 13:05] #39 closed, assigned to creatoro

[2011-05-11 06:04] biakaveron commented on #17
What kind of troubles you have?

[2011-05-11 09:27] creatoro commented on #17
Well, this is odd. When I applied your fix it seemed that it caused tests to fail. But checking it now it looks OK. Must have been my bad...

However, there's a twist: the fix got back somehow after the revert, so it's actually in the code. But checking it now with your test gives me an update query every time it saves the model, so it causes the very same problem it was created for. And reverting

[2011-05-11 10:51] creatoro commented on #33
Just for the record: it was a user error and it happened when trying to add a many to many relationship to a model that had the relationship defined with an explicit setting for `foreign` field.

The foreign field was set to a table's column rather to a model's field, so the setting for `meta->db('db_config')` wasn't used which resulted in an error.

[code]

[2011-05-12 15:33] TdroL opened #40 "hash_with bug"
When 'hash_with' in field password isn't set, hash() method returns NULL instead of plain password.
Fix: add `return $password;` in hash() method.

[code]

[2011-05-12 21:58] #40 closed, assigned to creatoro

[2011-05-13 05:43] p00h opened #41 "Alias building while order_by"
There is a method <strong>_field_alias</strong> in <strong>classes/jelly/core/builder.php</strong>

[code]

In case of order_by method adds table_name to returning value and, for example,

<pre>column_name</pre>

becomes

<pre>table_name.column_name</pre>

but table prefix wont be added later, so we'll recieve a query like this:

[code]

so query fails

Is it a jelly bug?

[2011-05-13 06:51] creatoro commented on #41
Can you show me your exact query?
Also, are you using the **3.1/develop** branch?

[2011-05-13 07:35] p00h commented on #41
[code]

Im using 3.1/develop branch
Query built using regular jelly way. Table prefix is `cf_`. And it applies to all parts of query except `order_by`

Backtrace:

[code]

[2011-05-13 07:41] p00h commented on #41
And if I replace

[code]

with

[code]

query executes correctly

[2011-05-13 07:54] p00h commented on #41
Would it be correct to replace

[code]

with

[code]

?

[2011-05-13 10:46] p00h commented on #41
Working under. It seems the problem is more deeper.

[2011-05-13 14:20] creatoro commented on #41
This is strange. I tested this with my users table with a query like this:

`Jelly::query('user')->where('id', '=', 1)->order_by('logins', 'ASC')->select();`

I couldn't replicate the issue, the result looks OK:

[code]

[2011-05-14 10:28] p00h commented on #41
I see. Im still working hard under, and i'm quite sure the problem sits in my code. But please do not close issue until i find the decision!

[2011-05-14 15:11] p00h commented on #41
Bug found. It was fully my fault. Please excuse me for any inconvenience.

[2011-05-14 16:31] creatoro commented on #41
Glad you found the problem. Could you please explain your bug and the solution for the record and close the issue if that's done?

[2011-05-17 10:33] macieklamberski opened #42 "Deleting related records in HasOne and HasMany associations"
Hi!

Is there any possibility to set that the objects linked to the current object (by HasOne or HasMany association) were automatically deleted when current object is? I mean something like what you can find in ActiveRecord in Rails. (`has_many :news, :dependent => :destroy`).

If not, it would be nice if this functionality was implemented into Jelly. It could be declared like this:

[code]

[2011-05-17 11:03] TdroL commented on #42
Are you using MySQL? If yes, use InnoDB engine and make proper relations between tables.

[2011-05-17 11:20] macieklamberski commented on #42
Yeah, I know. But I'm not much of a database guy and it would be nice to have such relationships declared at the application level.

It would be possible to quickly create models, relationships and their dependencies, without digging into the database on each of the environments. The code would be more flexible and portable between environments and different types of databases.

[2011-05-17 15:30] macieklamberski opened #43 "Automatically deleting files when deleting an object"
Referring to previous issue (#42) a good thing would be to be able to set that all uploaded files related to the currently deleted object will be deleted as well.

There are two fields that deal with handling file upload - `Jelly_Field_Image` and `Jelly_Field_Field`. My suggestion is to add additional property to each of them, that if set to TRUE will be responsible for deleting files when removin

[2011-05-18 07:58] creatoro commented on #42
I'm not really into putting new things like this into Jelly as it adds more magic to the code, but sounds like a nice feature to have. I'll think it through, if anyone has comments or suggestions they're welcome.

If this gets implemented it should be strictly optional and the code shouldn't modify the current workings of Jelly, just extend it and it should be bypassed by default.

[2011-05-18 07:59] creatoro commented on #43
If #42 gets implemented I don't see why we shouldn't have this as well.

[2011-05-18 08:00] creatoro commented on #41
@p00h: I'm closing this, but if you have the time please details your problem and solution.

[2011-05-18 08:00] #41 closed, assigned to creatoro

[2011-05-18 10:30] p00h commented on #41
The problem does not apply to jelly at all!
When i've tested my application with quite simple business logic I realized that queries builds correctly.
Then after 20 hours of debugging i found very small bug and problem disappeared.

[2011-06-06 00:52] Sharom opened #44 "Hashing performe before validation in Jelly_Field_Password"
Hashing performe before validation in Jelly_Field_Password.
Therefore, we get incorrect validation results .

[2011-06-06 01:14] #44 closed, assigned to creatoro

[2011-06-17 13:07] leth opened #46 "Type casting for Jelly_Field_Expression"
I have an expression field which is the result of  a mathematical expression, but jelly returns the result as a string.

If you could specify the type of an expression field, in terms of an existing jelly field type, it could use that field type to cast the value extensibly.

[2011-06-17 13:55] leth opened #47 "Jelly_Core_Builder::_db($db) parameter should have default value"
`protected function _db($db)` -> `protected function _db($db = NULL)`

[2011-06-26 22:05] #17 closed, assigned to creatoro

[2011-06-26 22:09] #47 closed, assigned to creatoro

[2011-06-30 21:15] macieklamberski opened #49 "Loading behavior with the same name as model"
When creating query, Jelly automatically loads the builder (if exists) with the same name as the model. Have you thought about creating a similar mechanism for behaviors?

**For example**:
We have a model `Model_Product` and related builder called `Jelly_Behavior_Product`. Now, while instantiating `Model_Product` (`Jelly::factory('Product')`, `Jelly::query('Product')` etc.) mechanism described abo

[2011-07-01 08:57] leth commented on #26
Hang on, does this not do it out of the box?

[code]

It relies on there being the corresponding opposite relationships for your has-many ones.

[2011-07-01 09:04] leth commented on #20
Try applying this patch instead, and let me know if it helps, it sounds like it might be related
https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/pull/48

[2011-07-01 11:55] creatoro commented on #20
@leth: thanks for all your contrubutions, I'm away until next week, I'll review everything then.

Just checked your patch and unfortunately it won't fix this bug. I think I'll apply my dirty fix as it does work (even when your pull request is applied) and I'll close this issue with a 'Review later' label.

[2011-07-01 12:02] creatoro commented on #49
This sounds nice, I'll think about it.

[2011-07-01 12:33] #20 closed, assigned to creatoro

[2011-07-01 12:35] creatoro commented on #20
@misterx: can you check if this solved your problem?

[2011-07-01 15:06] misterx commented on #20
no, this don't work =( has a same error
<code>
ErrorException [ Notice ]: Trying to get property of non-object
MODPATH\jelly\classes\jelly\core\builder.php [ 884 ]
</code>

[2011-07-01 15:22] creatoro commented on #20
@misterx:

When I tested the fix I used `Model_Test_Post`, `Model_Test_Author` and `Model_Test_Role` from [jelly-tests](https://github.com/creatoro/jelly-tests-for-Kohana-3.1).

`Model_Test_Post` belongs to `Model_Test_Author` and `Model_Test_Author` belongs to `Model_Test_Role`.

I have commented out the `load_with()` line in `Model_Test_Post` as this would cause an error.

Then I used this line

[2011-07-01 15:26] leth commented on #20
This is tricky to debug. If you have the time, you could fork the jelly-tests repo and make a test case for us :)

[2011-07-01 15:31] misterx commented on #20
I try to make test case, but have a problem, i don't use git, i can write this, and send via email or other communication =)

[2011-07-01 15:34] misterx commented on #20
@creatoro, @leth:
No problem  if  your relation name same as model name. But if u use different relation name, you must have error. Try to rename relation.

[2011-07-01 15:57] leth commented on #20
@misterx: You can post things to github here: https://gist.github.com/

@creatoro:
I think I've found what might be the problem:

The `field->with(..)` method doesn't know the alias that it should use for the table.
It works fine for chains of one item, or for relationships which happen to be named well.

I think the builder needs to pass the chain string to the with method [here](https://github.c

[2011-07-04 12:47] leth commented on #20
I've [added some test cases for this](https://github.com/leth/jelly-tests/commit/5618ea56f30b92b6d2e3c2e86016437a9aa82818), and [rewritten the with() method, and tweaked the _model_alias() method](https://github.com/leth/kohana-jelly/commit/cea1045d4a39ff886cb8be96ac4eb26397e02609).

@misterx: This should fix your problems :)

@creatoro: Before applying the fix, the test case won't succeed unless

[2011-07-06 14:19] creatoro commented on #20
@leth: pull request merged in 6c8b64714f53c403e226c1bf98dfde19d0ed8a1f, thanks a lot!

@misterx: you should test it now and see if it works.

[2011-07-06 14:32] leth commented on #20
Don't forget to merge the tests :)

[2011-07-06 15:48] creatoro commented on #20
Will do :).

[2011-07-09 10:52] #46 closed, assigned to creatoro

[2011-07-09 10:55] creatoro commented on #46
@leth: is this what you were talking about?

[2011-07-09 13:48] leth commented on #46
Yeah, nailed it. Thanks :)

[2011-07-09 22:27] #42 closed, assigned to creatoro

[2011-07-09 22:27] #43 closed, assigned to creatoro

[2011-07-10 08:37] creatoro opened #54 "Original image's path is not applied to thumbnails when automatically deleting files"
See title.

[2011-07-10 08:38] #54 closed, assigned to creatoro

[2011-07-10 21:44] macieklamberski opened #55 "Jelly_Field_Image - transformations from one thumbnail applies to other"
We have Image field with defined two or more thumbnails.

[code]

Then, while uploading a file, each thumbnail is generated not from the main image file, but from the image transformed by thumbnails defined before current. In the above example, last thumbnail will cropped from image with applied `'resize' => array(220, 50, Image::AUTO),` transformation from previous "small_" thumbnail.

Is this in

[2011-07-11 00:13] creatoro commented on #55
This isn't intentional, in fact it should be working as you described it. Fix coming soon.

[2011-07-11 07:32] creatoro opened #56 "Return value of _upload method in Jelly_Field_File and Jelly_Field_Image should be always boolean"
See title.

[2011-07-11 07:34] #56 closed, assigned to creatoro

[2011-07-11 07:52] #55 closed, assigned to creatoro

[2011-07-11 07:53] creatoro commented on #55
@lamberski: can you report back after a test?

[2011-07-11 08:51] macieklamberski commented on #55
It's working good now. Thanks! :)

[2011-07-11 10:17] #49 closed, assigned to creatoro

[2011-07-11 10:46] creatoro commented on #6
Just a note to myself:
- ~~behaviors and events are completely missing from docs~~ added in a96718ccaa33901435983f395719307fc02ab91e
- ~~it should be mentioned how to use the aliases of joined models in writing queries (for example: `':category.slug', '=', $category`)~~ added in bf1b2aebf27bc413c180a655d86a2a5bd9417f32
- mention that automatic aliasing doesn't work atm, if a hasmany relationship i

[2011-07-11 11:38] creatoro commented on #20
@misterx: any progress?

[2011-07-11 12:39] #26 closed, assigned to creatoro

[2011-07-11 19:17] Gamec opened #57 "Listing with joins"
I want to make a list of posts with authors. So I've made a "belongsto" relationships in post model, but when I'm listing them Jelly generates additional select queries for every post (to get author's data).

Is it possible to generate just one query like: SELECT posts._, authors._ FROM posts p JOIN authors a ON (a.id = p.author_id)?

[2011-07-11 21:23] creatoro commented on #57
Use the `load_with()` method when defining a model. Check out the sample model in the [guide](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/blob/3.1%2Fdevelop/guide/jelly/getting-started/defining-models.md).

Next time please post questions to the [forum](http://forum.kohanaframework.org/discussion/8069/jelly-for-kohana-3.1-auth-driver-included).

[2011-07-11 21:38] #57 closed, assigned to creatoro

[2011-07-13 22:37] marcalj opened #58 "count() errors"
I find a bug when updating User data with Auth module.

When I try to update the user like this:
`$this->user->update_user($_POST, array('username', 'password', 'email'));`

It throws an error when `_is_unique` is call. classes/jelly/cire/field: 279

[code]

Kohana-3.1.2, Jelly-latest

[2011-07-14 07:26] leth commented on #58
It looks like you've got the keys and values arrays the wrong way around.

If this isn't the problem, can you also post your "update_user" function?

[2011-07-14 08:02] creatoro commented on #58
Are you sure you are using the latest version of Jelly (3.1/develop branch)? The `is_unique()` method has been updated since it was using the `:key` wildcard.

[2011-07-14 08:16] marcalj commented on #58
Yes, latest code. Th update function is the default on classes/model/auth/user.php

[code]

[2011-07-14 08:22] leth commented on #58
Oh sorry, I missed the bit about the Auth module.

[2011-07-14 08:28] marcalj commented on #58
I think the error is here, but i'm not sure:
https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/commit/8b0fe01e7cea7651c1ea4568d4ba3f0332741f3e

[2011-07-14 09:00] marcalj commented on #58
More light. The Jelly_Validation seems to correctly set email data:

[code]

But this mapping is failing:

[code]

Because you get:

[code]

[2011-07-14 09:49] creatoro commented on #58
I've tested the update method and it worked for me without any problems.
But still, the `:key` wildcard doesn't seem right. Where is that coming from?

[2011-07-14 09:57] marcalj commented on #58
I don't know, seems an error when parsing the rules... I'm using Kohana 3.1.2, can be this the problem?

[2011-07-16 01:19] ckald opened #59 "Text is not String!"
I'm updating Migrate module for your Jelly version. I have to say, i had some troubles with your logics :)

Jelly_Core_Field_Text extends Jelly_Core_Field_String — and all my text fields appear in db like strings. Please, fix it. Simply copy string-field implementation.

Thanks

[2011-07-16 10:20] Sharom opened #60 "Timestamp field validation problem"
In the timestamp field we have validation after converting time string to integer. Therefore we can't check field with rule Valid::date for example.

[2011-07-18 07:57] misterx commented on #20
Hi, sorry for my late answer. Thats great, and working very good for me! Thanks
This bug traveled from the first Jelly version =) And now @leth fix it =) My respect!

[2011-07-22 18:45] marcalj commented on #58
Hi, I've update Kohana to 3.1.3.1 and this problem disappears. So, please, tell in README and description that current code requires at lease v3.1.3 of Kohana framework.

Also I found a bug in the update_user function, here is the fixed code:

[code]

It's really hacky. I think that `$extra_validation` isn't overwrite the "password" field rules.

[2011-08-02 21:37] leth opened #63 "Kohana 3.2 branch"
Since 3.2 is out, I think a 3.2/develop branch is in order :)
I've only spotted one incompatibility so far (I've not had time to run the tests) and there's a fix for it in my fork.

[2011-08-03 07:17] creatoro commented on #63
Thanks! I'll create it as soon as I have some time to close all the open issues. I'm a bit busy with a project atm.

[2011-08-03 08:13] leth commented on #63
## No problem! Hope they're going well

Sent from my phone.

creatoro reply@reply.github.com wrote:

Thanks! I'll create it as soon as I have some time to close all the open issues. I'm a bit busy with a project atm.

##

Reply to this email directly or view it on GitHub:
https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/issues/63#issuecomment-1716016

[2011-08-05 08:22] #58 closed, assigned to creatoro

[2011-08-05 08:22] #60 closed, assigned to creatoro

[2011-08-05 08:56] creatoro commented on #59
@ckald: these are not my logics, as it was like this when I forked Jelly from John and I think it's done the right way. I'm open to changes, but I'm not sure if I understand your intentions.

Is your problem with using `instanceof` in your module to check the type of the field?

Also, what implementation were you referring to?

[2011-08-05 09:05] creatoro opened #64 "Use JOIN in getting of many-to-many relations"
This issue was discussed earlier [before](https://github.com/jonathangeiger/kohana-jelly/issues/42), but those changes were lost in 4940f86a5cdc2b767dc95951dde0245493f1517a. I'm not sure if that was intentional, but it seems that using `JOIN` was a good idea as it really is faster then `WHERE IN...`.

My intention is to bring back the changes from ac19026efc4fce4bbede4817924a444e63a4d551.
I'll lea

[2011-08-05 09:07] creatoro opened #65 "Merge tests in main repo"
I don't see the advantages of having the tests in a different repo. It would be easier to maintain having them here.

[2011-08-05 09:45] leth commented on #65
I can see some advantages to not having them in the main branches at least.

Having the test models in the main branch class folder feels quite messy.

[2011-08-05 10:06] creatoro commented on #65
Hmm, might be true, but test models were renamed and they are in the `test` folder, so I didn't think that this could be an issue.

But your idea seems to be a good one, I'm thinking about creating a `master` branch anyway, so we could have tests in the `develop` branches only.

Just FYI: Sprig has its' tests in the [main repo](https://github.com/sittercity/sprig/tree/master/classes/model/test).

[2011-08-05 10:44] loonies commented on #65
I have the following structure for my test models

[code]

plus I attach my custom unittest autoloader from the test bootstrap.

Maybe, we can organize a directory structure something like that.

[2011-08-05 11:08] creatoro opened #66 "Enum won't select the default value if NULLs aren't allowed, but NULL is supplied"
Enum will select the default value if an empty string is given (because the empty string won't be considered as a changed value, so the default is used), but it won't if NULL is supplied and NULLs aren't allowed.

Some notes on this:
- before this fix setting NULL as the value would insert an empty string which is the case when MySQL strict mode is disabled and the field is set to an invalid value

[2011-08-05 11:08] leth commented on #65
Having tests only in the develop branch would mean commits couldn't touch both the tests dir and the classes dir, otherwise merging into main would be a pain.

It might be better to keep them in both branches and structure as @loonies said.

[2011-08-05 11:15] #66 closed, assigned to creatoro

[2011-08-05 12:51] creatoro opened #67 "Password is in expected array even if password is not updated"
The Auth driver's `update_user()` method says:

But it doesn't remove the password from the exptected array, so it's not possible to update the user without setting a password.
Also, the password field has an unnecessary rule.

[2011-08-05 12:54] #67 closed, assigned to creatoro

[2011-08-05 12:55] creatoro commented on #58
@marcalj: I've created a separate issue for the Auth driver, and made a fix: 4995eb5ea0d5fb7b6677
Was that what you were talking about?

[2011-08-05 16:25] marcalj commented on #58
Thanks, I'll comment on the issue.

[2011-08-05 16:27] marcalj commented on #67
This doesn't solve the issue because when you set the extra validation doesn't overwrite old password field rules.
So `not_empty` rule is active and validation fails if you doesn't send any password.

[2011-08-05 16:35] creatoro commented on #67
This way validation will only fail if you try to update the password with an empty string. If you don't send password it won't execute the `not_empty` rule as the field is unchanged.

[2011-08-05 17:06] marcalj commented on #67
Oh sorry I didn't test when I wrote the comment. It works perfect. I don't know why I need to use the hacky code I used...
Now works perfect using:

`$user->update_user($_POST, array('username', 'password', 'email'));`

[2011-08-09 10:38] leth commented on #65
Actually, it might be worth looking how it's done in this module: https://github.com/cbandy/real-database

[2011-08-10 11:12] leth opened #68 "Polymorphism support"
I am working on it!

I've got rudimentary field inheritance working, but I haven't attempted anything which touches the database yet :P
I'll post a link to the branch once I've got something worth sharing.

As always, comments suggestions and feature requests are welcome :)

[2011-08-11 08:22] creatoro commented on #68
Cool :)

[2011-08-12 17:51] creatoro commented on #65
To summarize...

Sprig and AutoModeler also has it's tests in the main model folder, and I don't see a problem with this either. Real Database doesn't have models, so I'm not sure what was interesting about that, @leth.

@loonies: the only solution to "hide" the models from the main folders would be yours, however I'm not familiar with that solution. How do you set up your bootstrap and run tests

[2011-08-12 18:20] leth commented on #65
I was mostly thinking about how schemas and test data might be better dealt with.
Currently I only bother to maintain test data dumps for sqlite for the stuff I've been adding, because I'm a bit lazy :P

It'd be nice if we could cut out the duplication of the test data.
Separate schema files might still be needed, but there's no need to maintain the test data in 3 places.

Sprig has SQL data and s

[2011-08-12 20:43] leth commented on #65
Looking at how the kohana unittest module works, it:
- Gets a list of files under `tests/` (`Kohana::list_files('tests')`)
- Checks the filename contains `EXT` and
  - If it contains 'TestCase' it calls `PHPUnit_Framework_TestSuite::addTestFile(...)` with the file.
  - If it does not, it `require_once`'s it

The trail starts at [`Kohana_Unittest_Tests::suite()`](https://github.com/kohana/unittest/

[2011-08-13 08:47] creatoro commented on #65
@leth: so your primary concern is not having the models in the default `model` folder, you're talking about the way the tests are made. In this case I agree, the tests need to be polished and restructured. However, the first step will be the merger.

[2011-08-13 09:13] loonies commented on #65
https://gist.github.com/1143654

Note that this is an old legacy application written with K 3.0. I'm using custom `bootstrap.test.php` and custom _autoloader_.

Anyway, I think @leth has found the solution :) we should create test suits and blacklist classes that we don't want in tests.

[2011-08-13 09:39] loonies opened #69 "Easier way to change database connection"
There should be an easier way to change DB connection (e.g. for testing). Right now, it is not possibile to change DB connection if model is already _initialized_.

The only way around:
- extend Jelly_Meta and do some voodoo for switching DB connection
- extend every model and set DB connection there <=> PITA

[2011-08-13 09:56] loonies opened #70 "Throw exception if we are changing initialized Jelly_Meta"
Instead of silently ignoring propery change, `Jelly_Meta::set` should throw an exception if it is already _initialized_.

[code]

[2011-08-14 09:52] creatoro commented on #65
@loonies: I might be missing something here... What should we blacklist?

I was thinking about dealing with setting up the test environment and I think we should create a custom testcase for Jelly, so this way we can have the db schemas in their own `.sql` schema file and the data to be inserted in an `.xml` file. And all we need for the test setup is this:

https://gist.github.com/1144751

[2011-08-14 10:18] loonies commented on #65
hehe.. I was thinking about models under _MODPATH/classes/models_. I spoke to soon, sorry my bad :)

However, we have to have test models, no?

[2011-08-14 10:43] creatoro commented on #65
We have to have test models, of course. What's the point in having the folder you mentioned blacklisted?

[2011-08-14 10:57] loonies commented on #65
no point, as I said, I spoke to soon without thinking :)

so, we can organize models as suggested in the [comment](#issuecomment-1734385) above

[2011-08-15 11:03] #65 closed, assigned to creatoro

[2011-08-15 11:04] creatoro commented on #65
It's done, thanks for the help guys!
Can you confirm it's working (don't forget to read the guide)?

As @leth pointed out Kohana's `list_files()` method was the key to "hide" the test files from the main folders. It adds the files from **tests/classes** before it adds the files from **tests/jelly** (because of alphabetical ordering) which means all the required files are added before they are need

[2011-08-15 11:30] creatoro commented on #59
@ckald: any comments on this?

[2011-08-15 11:39] creatoro opened #71 "Add test for multiple BelongsTo joins"
Add tests made by [@leth](https://github.com/leth/jelly-tests/commit/5618ea56f30b92b6d2e3c2e86016437a9aa82818)
Corresponding issue: #20.

[2011-08-15 15:21] #71 closed, assigned to creatoro

[2011-08-15 15:44] #64 closed, assigned to creatoro

[2011-08-15 16:11] #70 closed, assigned to creatoro

[2011-08-15 16:19] creatoro commented on #69
Can you show me a testing example where this might be actually useful?

ATM the database connection for testing is chosen by checking the `db_connection` in the unit test module's configuraiton (_APPATH/config/unittest.php_). Isn't that sufficent?

[2011-08-19 18:36] marcalj opened #72 "Jelly::query sort_by bug"
In a model, if I set default sorting in meta: `$meta->sorting(array('name' => 'asc'));` then, when I use: `Jelly::query('company')->order_by('name', 'desc');` doesn't work. It uses always the default `meta` config.

[2011-08-22 08:45] leth commented on #65
I'm a bit confused about database types.

Is the only way to test it with sqlite to use PDO (setting the connection type to `'pdo'`, and having sqlite in the dsn)?

[2011-08-24 15:03] leth commented on #65
Ok I've worked out what's broken.

You can't use the dsn `sqlite:memory:` because the test suite opens multiple connections and gets a new database each time.

[2011-08-24 15:27] leth commented on #65
I've fixed it, commit shortly :)

Edit: see #73

[2011-08-25 12:15] leth commented on #63
I've update my branch; all the tests pass on the 3.2 branch. :)

[2011-08-25 14:06] marcalj commented on #63
Good work! :)

[2011-08-25 14:14] creatoro commented on #63
@leth: great! :)
I've got some serious S.O.S. work to do, after that I'll merge everything.

[2011-08-25 22:01] marcalj opened #74 "Behavior hell"
Hi, I was finding a solution to a common problem.

When updating a model I need to always do actions for sanitizing data, for example in a model "Address" I need to update the geoposition string field based on street, country, etc... before save action.

Ok, I was thinking first in a rule callback, but I think it's not the right solution, I want to change model data, not just say true/false. Also

[2011-08-25 22:08] marcalj commented on #74
More info from @banks at https://github.com/jonathangeiger/kohana-jelly/issues/133#issuecomment-315333

I don't understand the part of:

[2011-08-26 09:58] leth commented on #68
I've published my branch. I've only gone far enough to support loading models directly, nothing complex yet.

It's a long way off being finished though, and I have the suspicion that there remain better ways of doing things.

There are 3 unit tests on polymorphic modes, currently, the third tests for behaviour I've not implemented yet so only passes for the simplest dataset item.

[2011-08-26 10:40] leth commented on #74
From looking at the code in the meta class, can you try this:

[code]

Edit: Ignore that.

Your behaviour class is missing an initialize method.

Edit: ignore that too.

[2011-08-26 10:59] leth commented on #74
Try this:

[code]

I've added some error checking to the code in my fork of 3.1/develop so if someone does this wrong in future they should be able to work out what's going on.

[2011-08-26 12:45] smgladkovskiy commented on #74
In docs that, please! In docs before it gone! :)

[2011-08-26 14:19] loonies opened #75 "Rewrite/Refactor Jelly_Meta::field and Jelly_Meta::fields"
I'm not quite aware of original `Jelly_Meta::field` and `Jelly_Meta::fields` purpose when Jon wrote them, but IMO they don't provide clear API of what they should do.

If you look at the `Jelly_Meta::fields` code:

[code]

Take a look to the `Jelly_Meta::field`.

[code]

Let say I want to get a field. I could do:

[code]

**Please, discuss how should we design this API to make it better!**

[2011-08-26 18:11] leth commented on #75
I changed some things earlier in 160416b2487311f4fb45.

It wasn't intended to address the API design though; I agree it needs some good thought and discussion.

[2011-08-28 22:48] leth commented on #68
I've made some design decisions which feel kind of major, I'd appreciate some comments on my ideas:

## Field inheritance
- Subclasses inherit all fields from the parent class.
- Calling `parent::initialize($meta)` is optional.
- Classes can re-declare fields declared by parent classes, with some restrictions (fields must be subclass of original types, some options cannot be changed) (these aren't

[2011-08-30 15:36] creatoro commented on #74
@marcalj: check out the guide on how to apply filters. Docs will be updated soon with description about behaviors.

@leth: merged your work, thanks!

[2011-08-30 15:36] #74 closed, assigned to creatoro

[2011-08-30 15:39] creatoro commented on #59
@ckald: I'm closing this, feel free to reopen it if you have to say something.

[2011-08-30 15:39] #59 closed, assigned to creatoro

[2011-08-30 15:52] marcalj commented on #74
Sorry I made tests with creatoro branch, not @leth branch :P

Now auto-loading works, but when the event is triggered I get this log error: `ERROR: Kohana_Exception [ 0 ]: Behavior at index [ 0 ] is not an instance of Jelly_Behavior, string found. ~ MODPATH/kohana-jelly-5ae46e8/classes/jelly/core/meta.php [ 151 ]`

If I use: `$meta->behaviors(array('address' => Jelly::behavior('Address')));` the s

[2011-08-30 15:59] creatoro commented on #74
@marcalj: where did you put your behavior?

Also, try to use this branch.

[2011-08-30 16:02] marcalj commented on #74
In: `application/classes/jelly/behavior/address.php`.

[code]

**NOTE:** I used your updated branch.

[2011-08-30 16:11] creatoro commented on #74
I'm using the same code as you without problems. Didn't you leave a `behaviors()` call somewhere else in your model?

[2011-08-30 16:16] marcalj commented on #74
I don't found any reference in my code. I'm using your updated branch with Kohana v3.1.3.1.

Really I'm using a custom module for my app. So I have two files:

`class Jelly_Behavior_Address extends Yournet_Jelly_Behavior_Address {}`
`class Yournet_Jelly_Behavior_Address extends Jelly_Behavior {` with the code.

But I've made the checks with the first file as you could do. It's strange :S

[2011-08-30 16:19] creatoro commented on #74
Can you paste your model into a gist?

[2011-08-30 16:31] creatoro commented on #74
You can delete it.
Edit: there's nothing related to behaviors in your model.

[2011-08-30 16:42] marcalj commented on #74
I'm using auto-detection, like custom builders. Should be any reference to behaviors in Model code?

[2011-08-30 16:50] creatoro commented on #74
No, there shouldn't be, just missed when you wrote you are auto-loading it.

I can't reproduce your issue, did everything the same like you and it's working fine.

[2011-08-30 16:55] marcalj commented on #74
Mmm ok, so when you create and save an Address model, the `model_before_save` function of the Behavior is called correctly?

Well, I will use a new installation with the minimal code to test it without any references to custom classes, and I will try to check the bug. I'll notice here.

Thanks for your efforts.

[2011-08-30 17:09] creatoro commented on #74
Copy-pasted your code, used the classnames and structure you did, and it's working.

[2011-08-30 21:07] marcalj commented on #74
WTF it works perfect! You need to use one of the `Log` constants in the `Kohana::$log->add` function to work!

Ok so, I see that the first param of the event functions is the Jelly model object.

We need to be careful to not use `save()` there and also, I used to set `belongsto` field as an integer, so If I need to access this relation I use this:

[code]

So finally, the code will be:

[code]

Is

[2011-08-30 22:51] creatoro commented on #74
@leth, @smgladkovskiy, @marcalj: guys, I have added docs for behaviors. I was in a hurry, so I would appreciate if you could take a look.

@marcalj: glad you sorted out. You don't need to issue a select statement to access a relationship, it'll be autmatically selected if you access the relation by `$item->company`.

[2011-08-31 00:09] creatoro commented on #75
I'll try to summarize the two methods.

The upgrade part of the guide was written by Jon and it mentions the `fields()` method:

The current comments for the `fields()` method are clearly from earlier times as it still mentions returning a single field. The `$name` param is unnecessary as it was used to return the field's name if only a single field was queried.

So according to this the `field()`

[2011-08-31 03:05] creatoro commented on #72
@marcalj: please check this again as I couldn't reproduce your issue. Everything seems to be fine with the latest updates.

[2011-08-31 03:16] creatoro commented on #69
@loonies: any ideas?

[2011-08-31 07:47] loonies commented on #69
I'm busy ATM, please leave this open, I'll get back to it.

[2011-08-31 07:53] loonies commented on #75
I have some ideas, I'll create a gist as soon as I catch up some time

[2011-08-31 16:25] marcalj commented on #74
@creatoro It works! Ok, I will take a look to docs.

Jelly is awesome! :D

[2011-08-31 16:33] marcalj commented on #75
I think it's safe to apply @creatoro fixes because doesn't break the API. When @loonies create the gist we can study it and propose the final solution.

[2011-08-31 16:50] marcalj commented on #74
I think there's an error in the @banks quote. When he said "but could also add functions to the builder like published(TRUE)", wrote this way you can think that you can add functions to some builder using the custom behavior class. Clarification will be perfect.

Also in the built-in events I think it's better to write directly the name of the params, not using just `$params`.

For example:
`model

[2011-08-31 20:07] marcalj commented on #72
Finally I found the bug! It's related to `count()` method.

If I set the `order_by` manually **before** a `count()` (pagination), for some reason it gets cleared. If I set it **after**, works perfect.

I use the order by method after a pagination count because it is irrelevant the order for the count.

In Jelly_Builder class, line 289:

[code]

Note that `$query->_order_by` is cleared from the que

[2011-09-01 00:47] creatoro commented on #72
The `count()` method deletes the order by statement from the query, it doesn't matter if it's set automatically or manually. There is no `ORDER BY` in the query when using `count()`.

This is the intended working of the method and I see no reason to change it.

I don't know how you did it, but setting `order_by()` after `count()` will throw an exception, so it shouldn't be possible.

[2011-09-01 08:05] marcalj commented on #72
Mmmm... when I calculate the pagination I use `count()` and then `limit()` and `offset()`, after that I was setting `order_by()`, and doesn't work, but any exception is thrown.

I need to set order by before the pagination logic to work.

I'm not saying that code should be changed, I'm just saying that when you clear `$query->_order_by = array();` seems to do also `$this->_order_by = array();`.

[2011-09-01 12:03] marcalj opened #76 "Jelly_Model is_new() function"
When playing with behaviors, the function `model_before_save` needs a way to know if a save will be an INSERT or an UPDATE.

So I propose this function:

[code]

[2011-09-01 12:10] marcalj commented on #76
Well we can use `id()` function for the same purpose?

Which way is more reliable?

[2011-09-01 15:50] creatoro commented on #72
There's no way to add order by after `count()` (if you are assigning that to a variable then continue to work with that variable), because it's like a the `select()` method, it executes the query. So I would recommend building the query like this for pagination (in the example I use the Pagination module):

[code]

[2011-09-01 15:50] #72 closed, assigned to creatoro

[2011-09-01 17:15] marcalj commented on #72
Ok, it's how I do, but I think that will be awesome to can call `count()` and do not affect the current query at all.

[2011-09-01 19:18] creatoro commented on #76
As you have the model object in the `model_before_save($model)` method it's just a matter of using this:

[code]

[2011-09-01 20:42] marcalj commented on #76
I'm not sure, because for some reason you can not load a model and updating their values... is it possible? (if not, can be a good feature for optimizing SQL calls).

For example:

[code]

[2011-09-02 01:58] creatoro commented on #76
You have to load the model before updating it with the `save()` method. Earlier it was possible to update models without having to load them, but this feature was deleted by Jon.

[2011-09-02 01:58] #76 closed, assigned to creatoro

[2011-09-02 07:54] marcalj commented on #76
:(

[2011-09-02 10:13] creatoro opened #77 "Remove upgrade part and add anything valuable from it to the guide"
The guide still has a part that is a how to for upgrading from earlier Jelly versions to 1.0. It might have some valuable thoughts for other parts of the guide, so those should be retained.

[2011-09-02 10:18] creatoro commented on #75
This is my proposed rewrite for the two methods: https://gist.github.com/1188311

@loonies: if you have the time, please share your thoughts on this and the other issue as well, since these are the two last issues remaining before we create the master branch for 3.1 and the develop branch for 3.2 and it would be nice to move on...

[2011-09-02 10:24] marcalj commented on #75
@creatoro +1

[2011-09-02 10:29] marcalj commented on #69
Sorry I have not yet migrated all the code from Sprig to Jelly because I have a project with 3 databases...
Can you leave open for 3.2 branch? So I will have time to study it also.

[2011-09-02 11:03] leth commented on #75
Why does `fields(...)` prevent existing fields from being overwritten during initialisation? What do we gain from this?

I only ask because I'm thinking of relaxing that in the polymorphism branch.
I still intend to have some restrictions though; the overwriting field should be the same type or a subclass of the overwritten field, and certain settings on the field will be preserved.

Are there any

[2011-09-02 11:04] leth commented on #68
I've pushed subclass detection in query results.
It's a bit hacky, but the tests pass now :)

As always, comments welcome!

[2011-09-02 11:06] marcalj commented on #75
Mmm, why not have one way for overwrite and another for appending? Seems logical and useful.

[2011-09-02 12:17] creatoro commented on #75
@leth: to be honest I'm not sure and I didn't find anything in the git history that would explain this. Talking about overwriting: what are the benefits of having the restrictions you mentioned? Why not overwrite the field without checking and merging a bunch of things? I'm all for making things more simple...

Also, what are the benefits of overwriting?

[2011-09-02 13:28] creatoro commented on #68
Nice work, keep going. I'll go through it when we're ready with the 3.2 branch,

[2011-09-02 13:44] marcalj commented on #75
I prefer more flexibility, you never know...

Personally I could use for extending a model like Role or User (auth plugin). Also I use `$meta->field('foo')->bar` to change configuration, but it's a good point to have a proper way to do all cases.

[2011-09-02 14:11] leth commented on #75
The only case I can imagine where you'd unavoidably call `fields(...)` twice is if you're using inheritance to avoid repeating your model declarations.

You might want to change fields because different models might have different validation rules.

Actually, when we're not doing polymorphism there's no real need to enforce things like subclasses, since each model has its own table so it can't rea

[2011-09-02 15:47] creatoro commented on #75
@leth: rewrote the [gist](https://gist.github.com/1188311) to overwrite old fields with newly defined ones.

Edit: We could make overwriting optional tough by using a boolean value, like:

[code]

So, there you have it @marcalj, flexibility. Gist updated to include this.

[2011-09-02 19:37] marcalj commented on #75
Ok so now will be able to add fields individually or in bulk. Also we can overwrite fields completely individually or in bulk.
Also we can fine tunning some field info using `field()` (as getter) and modifying the property.

I think is missing a way to delete a field, I'm not sure if it's present. But I'm conscient that it's very strange to do it, but in case...

So, if you want you can drop overw

[2011-09-03 21:56] creatoro commented on #69
What about having a config file for setting which db connection to use?
As default we would still use the ˛`Database::$default` value, but this way it's easily changed.

The config file would use Kohana's environment types, so the database connection could be set for:
- PRODUCTION
- STAGING
- TESTING
- DEVELOPMENT

If you all think that this solution is OK, then the last question remains is how to

[2011-09-04 11:39] marcalj commented on #69
I think my case is more simple that I expected. I have the database config (`config/database.php`) returning array depending of environment, and in each array there's all different db's I use.

So if in the Model I can set wich db name is, I'm happy. After all I'm using `DB::` class and select the database on `execute()` method... but I'm not study it very consciously.

I think this feature is for

[2011-09-04 22:37] loonies commented on #75
https://gist.github.com/1193623

Some thoughts IMO:
- `Jelly_Meta::field` should only accept a field object and should not be responsibile for the field object creation, thus removed [Jelly_Meta L422](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/blob/3.1/develop/classes/jelly/core/meta.php#L422).
- Removed part where the field name is returned, there should be another way for getting th

[2011-09-04 22:54] loonies opened #78 "Release strategy/roadmap"
This should be more of workflow discussion..

There should be some kind of release strategy for stable and development version of Jelly, so we know when to expect API changes, upgrade problems etc. ATM there is only develop branch and there is no stable one, ATM we only distinguish between kompatibility with Kohana.

I would like to see API locked for 1.0 ASAP and then some good discussion about 2

[2011-09-05 07:05] creatoro commented on #75
@loonies: the main differences of your implentation to mine are:
- not having overwriting optional, using it as the default behavior
- removing the field object creation

After thinking it over again I agree with both as I think overwriting is an expected behavior and field object creation is just bloat here.

Regarding initializiation and finalization: I think we should stick to the way Jelly wor

[2011-09-05 07:46] creatoro commented on #78
There are two issues remaining before the creating of the master branch. Having done this would mean an API freeze and we can call that 1.0.

In the near future I would have cleaning up Jelly and having tests for everything as a top priority. Jelly is feature rich already, creating new features is a nice thing, but it's better to build on a solid base.

As I see it, the main development should foc

[2011-09-05 07:47] loonies commented on #75
After another thought, as this is major API break, I think we should leave this as is for now (only docblock clean up and removing $name param etc..), and introduce this in the next major release.

[2011-09-05 07:54] loonies commented on #75
Looks like I spoke too soon, after reading [this comment](https://github.com/creatoro/kohana-jelly-for-Kohana-3.1/issues/78#issuecomment-1996484), we can brake API now :)

[2011-09-05 07:54] creatoro commented on #75
@loonies: I think having this done for 1.0 would be a perfect timing as that would be the first stable release. We're on a development branch now, major changes are possible and expected.

Edit: ah, your were fast :).

[2011-09-05 08:25] creatoro commented on #69
@marcalj: yeah, @loonies did speak about changing the DB after initialization, but I would rather not touch that part ATM.

However, having this config file would allow to us to have cleaner testing code as we don't have to set the DB everywhere and it would be a nice addition as it wouldn't require anybody to change their code, but it makes having different settings for environments easy (and we

[2011-09-05 08:36] marcalj commented on #78
I agree completelly. Also can you change the name of the repo without loosing "everything"? "kohana-jelly-for-Kohana-3.1" is now obsolete :)

[2011-09-05 08:39] marcalj commented on #69
Ok nice.

[2011-09-05 08:46] creatoro commented on #78
I've been thinking about renaming the repo to simply "jelly", I'm not sure what problems might be caused by this.

[2011-09-05 08:51] marcalj commented on #78
Nothing in the FAQ, probably you should contact GitHub: https://github.com/contact

[2011-09-05 08:59] creatoro commented on #78
The main caveats:

It might not worth it...

[2011-09-05 09:46] leth commented on #78
I changed username a while back; I re-registered the old one to act as a placeholder.

You could create a new repo with the old name containing migration instructions in a `README.md` :)

[2011-09-05 09:49] creatoro commented on #78
@leth: not a bad idea! :)

p.s.: can you comment on the other issues?

[2011-09-05 09:52] creatoro commented on #69
I did some benchmarks for getting the default db name from `Database::$default` vs config file.
On the long run `Database::$default` is about 53% faster (100-10000 calls), but when using only one call they are about the same (they finish in 0.000015s-0.000020s).

The question is: is this speed difference neglible or not?

[2011-09-05 10:03] leth commented on #78
Also: when you change repo name, it might also be worth asking github if they could bless the new one as the 'root' repo.
i.e. It'd no longer say 'forked from jonathangeiger/kohana-jelly'

I did it with one of mine before, it's something they have to do manually. Hopefully the description on Jon's repo should be enough permission for them.

[2011-09-05 10:11] creatoro commented on #69
After thinking this through again this would only help removing some additional code from the unit tests and it wouldn't really solve the issue @loonies came up with.

For tests let's do what the [Kohana team does](http://dev.kohanaframework.org/issues/3677).

For anything else? Do we even need to have the ability to change the db after initialization?

[2011-09-05 10:14] creatoro commented on #78
I'm no sure if that's necessary. There's a lot of people still watching Jon's repo and it would be a good indication what is this repo.

[2011-09-05 10:41] leth commented on #75
Looks good, the simplicity is definitely better here :)

[2011-09-05 10:44] leth commented on #78
Fair enough. Perhaps just send him a casual message to ask if he could update the link on the repo dscription when he gets the time :)

[2011-09-05 10:49] creatoro commented on #78
Will do.

[2011-09-05 11:03] creatoro commented on #78
Another guideline for development could be if a new, major Kohana version (for example 3.2) is available the steps to follow are:
1. Add all the valuable changes from the new Kohana version to Jelly which don't require compatiblity with the new version
2. Create the develop branch for the new Kohana version
3. Fix incompatibility
4. Add changes that couldn't be added in step 1 to the develop branc

[2011-09-05 11:41] #75 closed, assigned to creatoro

[2011-09-05 11:44] creatoro commented on #75
Thanks guys!

@loonies: I've seen the new version of your gist. I thought about it, but I think reusing the `field()` method in `fields()` is more elegant. Also if you require the field to be an instance of `Jelly_Field`, then you can't set aliases.

[2011-09-05 11:50] creatoro opened #79 "Follow changes in Kohana 3.2 Auth"
Ref: http://dev.kohanaframework.org/issues/3605

[2011-09-05 12:05] loonies commented on #75
Can you give an use case example of setting alias?

[2011-09-05 12:08] creatoro opened #80 "Follow changes in Kohana 3.2 validation"
Ref:
- http://dev.kohanaframework.org/issues/4062
- http://dev.kohanaframework.org/issues/4034

[2011-09-05 12:11] creatoro commented on #75
Check `Model_Test_Post`:

[code]

[2011-09-05 12:13] leth commented on #78
I'm not too bothered about this, but it might be a good time to move the Jelly auth drivers to a different repo.

[2011-09-05 12:15] creatoro opened #81 "Follow changes in Kohana 3.2 config"
Ref:
- http://dev.kohanaframework.org/issues/3000
- http://kohanaframework.org/3.2/guide/kohana/upgrading#config

[2011-09-05 12:30] creatoro commented on #69
@loonies: as you're who opened the issue, could you comment on this?

[2011-09-05 13:54] #77 closed, assigned to creatoro

[2011-09-05 19:03] loonies commented on #78
@creatoro
OK, I see. I completly agree about unit testing. So, you are suggesting we move one step at the time, but besides that there shoud be some kind of general discussion about arhitecture, some general thoughts what we should redesign, where we see problems etc...

Also, may be worth to schedule meeting (something like [Arch Linux - Bug Squashing Day](https://wiki.archlinux.org/index.php/Bug

[2011-09-05 19:08] loonies commented on #75
Where is this useful and where should we use this (use case)? I prefer clear API over confusing features (maybe I'm the only one confused :))

[2011-09-05 21:10] creatoro commented on #78
@loonies: I don't mind having new features, but it would be really nice to make Jelly smaller, faster and well tested... If we don't focus on that at least we have to make sure that new features are very well implemented, commented and unit tested.

I agree about having discussions to how to move forward.

Why do you guys want to remove the Auth driver? It's included in ORM as well and it makes co

[2011-09-05 21:16] creatoro commented on #75
Well, personally I don't use field aliasing, so I wouldn't mind getting rid of it if nobody else uses it. Anybody? :)

Edit: after going through the code it seems that it's a feature that is deeply built into Jelly and removing it is not an easy task. I think this should be investigated further and we should skip touching it this time.

[2011-09-05 21:33] loonies commented on #78
@creatoro Don't get me wrong, if you ask me, I would rewrite Jelly from the scratch. I would like to see KISS, well tested arhitecture in Jelly.

We want to remove auth, bc of KISS :) and if ORM does something, it doesn't mean we should follow.

[2011-09-05 21:36] creatoro commented on #78
You're right, we don't have to. These are practical things, which are intended to help others more easily adapt to Jelly.

[2011-09-05 21:51] loonies commented on #69
Yes, I was talking about changing DB connection after model initialization. Honestly, I don't remember any more where I got this issue. Anyway, you can close this AFAIC, I'll deal with this later if I'll have to.

[2011-09-05 21:55] creatoro commented on #69
Ok, if we don't have to work on the alias feature (or other things) I'm creating the master branch and we have Jelly 1.0.

[2011-09-05 21:56] #69 closed, assigned to creatoro

[2011-09-06 08:01] marcalj commented on #75
Confusion here too! :P
Good work!

[2011-09-06 08:08] marcalj commented on #78
Move to another repo but don't remove it! :S (Jelly Auth)

[2011-09-06 12:39] creatoro opened #82 "Separate Auth driver"
As @leth and @loonies requested.

[2011-09-06 12:56] #82 closed, assigned to creatoro

[2011-09-06 13:01] creatoro commented on #82
Driver here: https://github.com/creatoro/jelly-auth

[2011-09-06 13:21] loonies commented on #82
Great!

[2011-09-07 09:50] creatoro opened #83 "Follow changes in Kohana 3.2 Database"
The builder's `execute()` method has to be compatible with Kohana Dabatase's method.

[2011-09-07 09:51] #83 closed, assigned to creatoro

[2011-09-07 09:56] #81 closed, assigned to creatoro

[2011-09-07 10:00] creatoro opened #84 "Follow new features in Kohana 3.2 validation"
Core:
- http://dev.kohanaframework.org/issues/3796

ORM:
- http://dev.kohanaframework.org/issues/3877
- http://dev.kohanaframework.org/issues/3880
- http://dev.kohanaframework.org/issues/4058

[2011-09-07 10:04] #80 closed, assigned to creatoro

[2011-09-07 10:27] creatoro commented on #63
Main compatibility issues solved by:
- Issue #80: 8fa90d8447f21999e4c189a4fd2279d960a08e69
- Issue #81: c1abf4ce3545ab7e31239777263299c819f9b632
- Issue #83: d9a2113fdfdad38ff9d287f778352d84bee11221

3.2/develop branch is ready for development.

[2011-09-07 10:27] #63 closed, assigned to creatoro

[2011-09-07 10:31] creatoro opened #85 "Jelly_Field_Serialized shouldn't try serializing arrays"
As `@unserialize()` will only accept strings there's no need to pass arrays.

[2011-09-07 10:40] creatoro commented on #79
This isn't valid anymore, since Auth driver was separated.
Issue opened: https://github.com/creatoro/jelly-auth/issues/1

[2011-09-07 10:40] #79 closed, assigned to creatoro

[2011-09-07 10:46] creatoro commented on #78
Well, never thought this would come, but we have a 3.1/master branch and a 3.2/develop branch now :).

[2011-09-07 10:50] #85 closed, assigned to creatoro

[2011-09-07 10:59] marcalj commented on #78
Congrats!

[2011-09-07 11:06] creatoro commented on #78
Thanks guys for contributing, it's great to see Jelly is alive and kicking!

[2011-09-10 21:22] xtazz opened #86 "Can't use functions like UPPER in where clause"
Queries like this: `Jelly::query('table')->...->where('UPPER(table.field_name)','IN',$field_values)`
are resulting in following SQL code: `...WHERE `UPPER(table`.`field_name)` IN ('VALUE1', 'VALUE2')`

This code is causing MySQL to fail query because ` are incorrectly placed for such where clauses.

If it's Kohana issue, please let me know, I'll resubmit this bug to them.

Thanks!

Best Regards,
P

[2011-09-11 15:37] loonies opened #87 "Missing docblock comments"
Every class should be properly commented, including:

[code]

[2011-09-11 20:48] loonies opened #88 "Debug class"
We are missing class for good looking and pretty dump of Jelly models, fields, relationships etc..

[2011-09-11 20:56] loonies commented on #88
Here's one: loonies/kohana-jelly@7bb477bc21 ;o)
branch: feature/GH-88-debug-class

[2011-09-11 20:58] loonies commented on #88
As always, suggestions for improvements are welcome!

[2011-09-12 16:00] leth commented on #86
Try using a DatabaseExpression object. Look up the kohana docs for `DB:expr(...)`.

[2011-09-12 16:06] leth opened #89 "save() and related models"
I came across the fact that save() does not ensure that related models are also saved (updated or inserted).

Is this by design, or merely an oversight?

Circular relationships have the potential to cause loops if this isn't implemented carefully.

[2011-09-13 16:20] xtazz commented on #86
Thanks much! Now it works okay

[2011-09-13 21:32] loonies commented on #89
Do you mean saving entire object graph?

e.g.

[code]

Now, we should have 2 saved objects, category and news, with one `save()` call.

[2011-09-13 22:45] leth commented on #89
Yeah. I think this needs some proper research as to whether it's a good thing to do or not.

[2011-09-15 13:40] creatoro opened #90 "Use Validation::data() instead of Validation::as_array()"
Ref: http://dev.kohanaframework.org/issues/4062

[2011-09-15 16:56] loonies commented on #89
That would be an awesome feature to have. Some problems:
- dependency resolution (category must be saved before news)
- collecting error messages

[2011-09-15 17:47] macieklamberski opened #91 "Bug in Jelly_Core_Field_ManyToMany"
I think there is a bug in `Jelly_Core_Field_ManyToMany` class in `get()` method. On line 138 it should be:

[code]

instead of:

[code]

because `column` index is no longer used as it has been replaced by `field`.

[2011-09-16 06:59] creatoro commented on #91
Well spotted, thanks! Stupid mistake...

[2011-09-16 07:09] #91 closed, assigned to creatoro

[2011-09-16 08:04] #87 closed, assigned to creatoro

[2011-09-16 08:05] creatoro commented on #87
Done, however I didn't change the content of the docblocks, that will be another commit.

[2011-09-16 08:10] #86 closed, assigned to creatoro

[2011-09-16 08:36] #90 closed, assigned to creatoro

[2011-09-16 08:46] creatoro commented on #89
Sounds as a cool and problematic feature :).

[2011-09-16 08:48] creatoro commented on #88
This is a great idea, after creating the 3.2/master branch it should be added.

[2011-09-16 10:16] #84 closed, assigned to creatoro

[2011-09-16 10:38] creatoro opened #92 "Allow has() to check relationship without foreign keys"
I found this when I was going through the changes in Kohana 3.2 and I think it's a nice thing to have.

[2011-09-26 19:00] paulchubatyy commented on #89
There also might be a reason to use transactions for storing the object with related objects and reverting the whole thing if one of objects does not validate. This is really a complex task

[2011-10-12 22:34] creatoro opened #93 "Follow temporary fix for validation exception."
Ref: http://dev.kohanaframework.org/issues/4185

[2011-10-12 22:35] creatoro commented on #93
Fixed by: f9b9c33155e0f86c8f3855a5e973f0d23b322505

[2011-10-12 22:35] #93 closed, assigned to creatoro

[2011-10-14 07:07] ccazette commented on #89
Too much magic IMHO... Don't make it bloated !
I am not saying such features wouldn't be a good thing but keeping the core clean and lean should be the priority.. May be it is time to consider a modular approach of Jelly (for instance I can say I could really do without the whole behavior / event system).. Some modules could bring additional features (such as this, polymorphism or transaction supp

[2011-10-14 07:10] creatoro commented on #89
@ccazette: lately I've been thinking about modularizing Jelly as well... Could worth the hassle.

However, the most important would be to have tests for **everything**.

[2011-10-23 18:47] ccazette opened #94 "Can't add ManyToMany relations on a new Model"
... and probably HasMany relations neither looking at the code...

These lines (Core_Model line 353 - don't know why they have been added from the original Jelly) :

[code]

Actually set a the manytomany field to NULL, so the field is reported as 'changed' with a NULL value. If you then try to add a new relation, then this line (942) in the _change() method will trigger an exception as it will run

[2011-11-02 09:05] ivank opened #95 "Paranoid behavior and Jelly_builder"
I'm trying to implement paranoid behavior and I have this problem - I've added an event listener for "builder.before_select" that adds an "is_deleted" where clause, but I have a builder_call_deleted() method that modifies that clause so you can do $builder->desleted("all")->select_all() to get all the records including the deleted ones. The problem is I cannot keep state between the method call an

[2011-11-02 10:57] leth commented on #95
You can create your own custom builder class to store state and custom queries in.

See this part of the guide:
https://github.com/creatoro/jelly/blob/3.2/master/guide/jelly/extending-builder.md

[2011-11-02 14:05] ivank commented on #95
Yeah I'm aware of this, but that way the behavior cannot be packaged and distributed on it's on. I was hoping for something more fundamental to allow behaviors to be more self-sufficient and perform more logic. If I did extend the builder class then I either have to write a new builder class for each model or extend Jelly_Builder directly - and then users of this behavior will not be able to do th

[2011-11-02 14:41] leth commented on #95
You have a good point. Behaviours might wish to store state on a per-model-instance or per-builder-instance basis, and there's no way of achieving that at the moment without extending the model or the builder.

Edit: storing the state in the behaviour instance is not an option as there's no way to tell when a model/builder instance has been garbage collected, so it would cause memory leakage.

Unf

[2011-11-02 18:37] ivank commented on #95
Well the model is not a problem as it has "unassigned" array for this, and we can implement something similar in the jelly builder as well. The question is are we at a point where we can try extending Jonathan's work or do you think it's best to only maintain for compatibility with kohana's releases?
There are a lot of advanced things that are started and need to be completed ( this behavior thing

[2011-11-03 07:58] leth commented on #95
I don't really have time to test or code for this project at the moment, but I'm sure @creatoro would accept pull requests.

There may be room for some sort of rewrite of Jelly; it has some really good design features, but I'm starting to see its limitations in some areas. @creatoro mentioned trying to modularise it a bit more in another issue thread.

[2011-11-09 14:15] ivank opened #96 "ManyToMany on unsaved models"
When I do a $model->as_array() on an model that has not yet been created, I get an exception form here

[code]

The thing is  - value is null so the `>where($this->foreign['field'], 'IN', $value);` fails
There should be a empty($value) check here i think.

[2011-11-09 20:38] creatoro commented on #94
@ccazette: I'm not sure if I understand what did you do. Do you say first you've deleted the original relationships by setting the field to `NULL`, then you've added new relationships?

[2011-11-09 20:45] creatoro commented on #95
@ivank: pull requests are certainly welcome. It would be nice to extend behavior features, it would be even better to have them seperated from the core in another module.

[2011-11-09 20:51] creatoro commented on #96
@ivank: can you post example code? In what situation would you need this feature?

[2011-11-10 08:00] ccazette commented on #94
@creatoro : Sorry if unclear, I realized some words are mistyped. I did nothing in particular. Just used add() on a ManyToMany field triggers an error if there are no relations beforehand. Say an article has many to many categories. If you load an article that has no categories yet and use add() to add some, it triggers an exception.

I explained why this error happens : line 353 in  Core_Model se

[2011-11-10 08:32] ccazette commented on #94
Also note that I've commented these lines in Core_Model, that fixed the error and hasn't done any harm so far...

[code]

[2011-11-10 08:56] ccazette opened #97 "More consistency..."
Hi there,

Just would like to highlight a few easy changes to improve Jelly consistency :
- Some classes use methods when some others use properties for the same functionalities : Jelly_Field::$model does the same as Jelly_Meta::model()
- Behaviors should behave like fields : data passed by the constructor is protected and a underscore is prepended, when all public in fields. Also Jelly_Meta has a

[2011-11-10 09:32] ivank commented on #96
For basic $auth_user  from jelly-auth

$user = Jelly::factory('user')->save();

Does not trigger validation error but rather throughs a general exception for the connection with user_tokens table

[code]

we've dealt with it for now in Jelly_Core_Field_ManyToMany with

[code]

But I'm not sure it's the best course of action.

[2011-11-10 09:43] ivank commented on #97
I second all those points - this all seems easy to implement and will cover a lot of the pain in writing behaviors.
However I still think behaviors should be able to save state per model instance. But I'm not sure how we can implement that (the current arrangement is very performant as there's only one behavior per class). Maybe allow some sort of array datastore for the model specific to behavior

[2011-11-15 13:59] ccazette commented on #94
Ok I went further in tracking this... Commenting the line above breaks the set() method behavior when trying to set an empty value in the relation : $model->set('relations', array());
Indeed, Has Many and Many To Many fields are not queried when the model is loaded so we have an empty array in $model->_original['relations'], even if there are some relations. When running the set() method, the $cur

[2011-11-15 14:00] ccazette commented on #94
PS : I believe this bug is the same as #96, but this has to be confirmed

[2011-11-22 12:34] vitch commented on #94
I've run into exactly the same problem. I implemented your suggested change on my fork (see vitch/kohana-jelly@c6a981f4d6cefbd277ca2bb513481ba3a46883aa ) and it seems to work with no side effects. I'm not sure what the thinking behind the original code was so I don't know if this is the best fix or not but it works for me - thanks @ccazette!

To replicate the problem try this:

[code]

Where `fiel

[2011-11-23 14:42] dssysolyatin opened #98 "change Jelly_Core_Field_ManyToMany"
hello ,
 method _in didn't work  , but when I changed this line
                           select_column($this->through['fields'][1] , 'in')
on
select_column($this->through['fields'][1] , '\'in\'')
it method start work.

[2011-11-28 09:42] ivank commented on #97
This can probably be the time to add a new "2.0" branch or something for breaking functionality

[2011-12-02 16:24] marcalj opened #99 "Get value for relationship without loading the relation"
Hi, when finetunning one application I saw that Jelly_Model->as_array(), on relationships load all items in the database.
I was using it as a way to get "raw" data of a model.

So I implement a workaround:

[code]

So basically for **Jelly_Field_HasMany** and **Jelly_Field_ManyToMany** do not call "**get**" method, and for **Jelly_Field_HasOne** and **Jelly_Field_BelongsTo** I'm using the "**get_r

[2012-01-04 18:53] j4jefferson opened #100 "Passing Auth::$instance() in Jelly_Auth model breaks meta table data"
I am setting up a site to use the Jelly-auth module, but am finding that using the default Model_Auth_User $meta->fields array does not work. It wipes out all meta field data and is caused by the password field having an Auth::instance() passed as the callback for the 'hash_with' option. I don't know why this is though. Below is how I have set up my scripts if that helps explain a little better.

[2012-01-05 11:39] ccazette commented on #97
Just want to add another one this :
- All Jelly_Fields should use parent functions. To take an example, the last line of Jelly_Field_Timestamp::save() should return parent::save($model, $value, $loaded); rather than return $value. Same goes for set() and get() method. This doesn't change anything as by default the field class returns the value unchanged but becomes a problem when you want to exten

[2012-01-09 17:19] Neurergus commented on #56
Hello creatoro,

I'm having problems with this change.

If "_upload" returns FALSE, the validation process seems to ignore the 'manual setted' errors (ex: $validation->error($field, 'invalid_file')) and only shows the error message modelname._upload.

To solve this, I had to revert this commit, changing 'return FALSE' to 'return', leaving 'return TRUE' and modifying Jelly_Field_Image to check for

[2012-01-11 14:56] bistory opened #101 "Failed to validate array"
Hi !

I'm testing Jelly with Jelly auth on Ko 3.2.
I was using the good old jelly before and decided to go forward.
But I'm experiencing a problem regarding validation.

The complete error is visible here : http://imgur.com/uJsFT

Is it a bug in Jelly or in Jelly Auth ? How can I fix it ?

Thanks :)

[2012-01-11 16:43] leth commented on #101
Look at the [validation rules for the auth user definition](https://github.com/creatoro/jelly-auth/blob/3.2/master/classes/model/auth/user.php).

`$user->save()` will perform validation before saving, and throw an exception if it is invalid.
Have you tried calling `errors()` on the exception object? i.e. `$e->errors()`.

My suspicion is that you didn't fill in a username field.

[2012-01-12 09:21] bistory commented on #101
Thanks, you are right, I didn't implement user because I don't need it. I will change the model :)

[2012-01-12 09:21] #101 closed, assigned to creatoro

[2012-02-09 17:18] marcalj opened #102 "Stored procedures/triggers"
I'm examinating all my DB stuff and I want to use stored procedures and triggers setted in a MySQL database.

If I create some type of update data in a MySQL table, when update some object, I will see the current data changed or just the data set in the PHP code?

I'm considering use just `DB::` for database related... seems super radical but efficient :) :(

[2012-02-22 10:27] artad opened #103 "Hashing performe before validation in Jelly_Field_Password"
I want to reopen issue #44. I have the same problem. And I think I know  why.
[code]
Hash function sets as filter and filters work on set, before validation.

It is no errors if you define only rules not_empty and min_lenght because hash from not empty field is not empty and always have more then 10 chars lenght.

But if you try to define max_lenght rule you will get an error.
[code]

[2012-05-02 06:27] khairilanuar opened #104 "BelongsTo column name is not working"
After upgrade to Jelly for Kohana 3.2.

I cannot use different column name for a belongsto field as in documentation

In my company model (model/company.php) I have this. Please note I have a column name 'status_id' which hold a foreign key of member_status table;

[code]

while in my member_status model (model/member/status.php), I have this;

[code]

sample query;

[code]

I receive this error w

[2012-07-10 14:35] nex2hex commented on #99
Your method don't returned unmapped to db fields, get() do this.

Fixed version:

[code]

[2012-07-11 06:29] marcalj commented on #99
What do you mean with "unmapped".

Sorry but I don't use any ORM in my projects, just Model_Database amb DB class. I need more low level tunning.

[2012-07-11 09:15] nex2hex commented on #99
unmapped fields on't have column in table in db

[2012-07-12 07:46] marcalj commented on #99
Ups, ok got it! ;)

[2012-09-04 16:31] misterx opened #105 "Need idea, for additional fields."
I have field "File", it receive file and saving it, decode fileinfo in json for saving in DB. When loading from DB, json becomes object.

Now i need additional fields, aka "attributes", in this object, not a additional field in DB, example "author", for save it in JSON. I think, create field "author" as "String" field from field "File" with attribute "in_db = false", with specific name. Sample

<p

[2012-11-22 13:39] creatoro commented on #44
Validation checks should be done externally for passwords. Please see the guide's Validation page and External validation seciton. Or check out the Auth driver's validation: https://github.com/creatoro/jelly-auth/blob/3.2/master/classes/model/auth/user.php#L89

[2012-11-22 13:39] creatoro commented on #103
Validation checks should be done externally for passwords. Please see the guide's Validation page and External validation seciton. Or check out the Auth driver's validation: https://github.com/creatoro/jelly-auth/blob/3.2/master/classes/model/auth/user.php#L89

[2012-11-22 13:47] #103 closed, assigned to creatoro

[2012-11-22 14:27] creatoro commented on #100
First of all you shouldn't do this in the Auth driver. Second: this happens because the loading of the users list is called from the driver, which will load the meta, where the password field loads the Auth driver again.

[2012-11-22 14:27] #100 closed, assigned to creatoro

[2015-11-08 21:20] piotrbaczek opened #108 "Jelly_Field_UUID"
Hi,

did you think about creating a class for UUID field?
This would work in such way, that according to : https://www.percona.com/blog/2014/12/19/store-uuid-optimized-way/

ordered_uuid(uuid) = 58e0a7d7-eebc-11d8-9669-0800200c9a66 => 11d8eebc58e0a7d796690800200c9a66

it would insert value as UNHEX(ordered_uuid(uuid)), and select as SELECT HEX(uuid) as `uuid` from table

Cheers.

[2015-11-08 21:21] piotrbaczek commented on #108
Data would be stored as binary(16) PRIMARY KEY

[2018-09-19 06:57] #95 closed, assigned to creatoro

[2018-09-19 06:57] #96 closed, assigned to creatoro